In [3]:
import pandas as pd
from datetime import datetime
import dateutil.relativedelta
# import pypyodbc as odbc

# Test database

In [7]:
# drive_name = 'SQL SERVER'
# server_name = 'DESKTOP-29355SM\SQLEXPRESS'
# database_name = 'Bank'

# connection_string = f"""
#     DRIVER={{{drive_name}}};
#     SERVER={server_name};
#     DATABASE={database_name};
#     Trust_Connection=yes;
# """

# conn = odbc.connect(connection_string)

In [9]:
# cursor = conn.cursor()

In [13]:
# cursor.execute("""
# Create table Persons (
#     PersonID int,
#     LastName varchar(255),
#     FirstName varchar(255),
#     Address varchar(255),
#     City varchar(255)
# )
# """)

In [ ]:
# df = pd.read_sql('Select * from account', conn)

In [14]:
# conn.commit()

# Function

In [48]:
def extract_date_review(text_date, crawl_date): # Bi·∫øn ƒë·ªïi kho·∫£ng th·ªùi gian (1 th√°ng tr∆∞·ªõc, 2 ng√†y tr∆∞·ªõc) th·∫±nh ng√†y c·ª• th·ªÉ v√† tr·∫£ v·ªÅ datetime
    sub_text = text_date.split(' ')
    date_cmt = ''

    if 'nƒÉm' in text_date:
        for t in sub_text:
            if t.isnumeric():
                date_cmt = datetime.strptime(crawl_date, '%Y-%m-%d').date() - dateutil.relativedelta.relativedelta(years=int(t))
    elif 'th√°ng' in text_date:
        for t in sub_text:
            if t.isnumeric():
                date_cmt = datetime.strptime(crawl_date, '%Y-%m-%d').date() - dateutil.relativedelta.relativedelta(months=int(t))
    elif 'tu·∫ßn' in text_date:
        for t in sub_text:
            if t.isnumeric():
                date_cmt = datetime.strptime(crawl_date, '%Y-%m-%d').date() - dateutil.relativedelta.relativedelta(weeks==int(t))
    elif 'ng√†y' in text_date:
        for t in sub_text:
            if t.isnumeric():
                date_cmt = datetime.strptime(crawl_date, '%Y-%m-%d').date() - dateutil.relativedelta.relativedelta(days=int(t))
    else:
        date_cmt = datetime.strptime(crawl_date, '%Y-%m-%d').date()

    return date_cmt

# Main

In [1]:
# product = input()
product = 'iphone 15 pro max'

# Tiki

#### Product info

In [8]:
tiki_product_info = pd.read_csv(r'..\Data\Tiki\%s_info.csv'%('_'.join(product.split(' '))))

In [14]:
# L·∫•y nh·ªØng c·ªôt c·∫ßn thi·∫øt
tiki_product_info = tiki_product_info[['Name', 'Brand', 'Quantity', 'Reviews count', 'Star rating', 
                                       'Price', 'Crawl date', 'Shop name', 'Shop rating']]

In [15]:
tiki_product_info.dtypes

Name              object
Brand             object
Quantity           int64
Reviews count      int64
Star rating      float64
Price             object
Crawl date        object
Shop name         object
Shop rating      float64
dtype: object

In [80]:
# Th√™m c·ªôt "Platform ID"
tiki_product_info['Platform ID'] = 'PL01'

In [81]:
# Lo·∫°i b·ªè d·∫•u "." trong c·ªôt "Price" v√† ƒë·ªïi ƒë·ªãnh d·∫°ng th√†nh int
tiki_product_info['Price'] = tiki_product_info['Price'].str.replace('.', '', regex=True).astype(int)

In [82]:
tiki_product_info

,Name,Brand,Quantity,Reviews count,Star rating,Price,Crawl date,Shop name,Shop rating,Platform ID
0,Apple iPhone 15 Pro Max,Apple,691,96,5.0,31990000,2024-01-11,Tiki Trading,4.7,PL01
1,Apple iPhone 15 Pro Max,Apple,726,100,5.0,31990000,2024-01-18,Tiki Trading,4.7,PL01
2,Apple iPhone 15 Pro Max,Apple,740,103,5.0,31990000,2024-01-27,Tiki Trading,4.7,PL01

In [83]:
tiki_product_info.dtypes

Name              object
Brand             object
Quantity           int64
Reviews count      int64
Star rating      float64
Price              int32
Crawl date        object
Shop name         object
Shop rating      float64
Platform ID       object
dtype: object

#### Reviews

In [50]:
tiki_reviews = pd.read_csv(r'..\Data\Tiki\%s_reviews.csv'%('_'.join(product.split(' '))))

In [51]:
tiki_reviews

,Reviewer name,Content,Rating,Rating date,Crawl date,Shop name
0,muasach,"22/9 ƒë√∫ng 00h l√™n topzone, TGDƒê, FPT Shop, ƒë·∫∑t...",C·ª±c k√¨ h√†i l√≤ng,ƒê√°nh gi√° v√†o 3 th√°ng tr∆∞·ªõc,2024-01-11,Tiki Trading
1,V≈© th·ªã h∆∞·ªùng,ƒêam m√™ t√°o k th·ªÉ b·ªè qua Iphone 15promax v√¨: \r...,C·ª±c k√¨ h√†i l√≤ng,ƒê√°nh gi√° v√†o 3 th√°ng tr∆∞·ªõc,2024-01-11,Tiki Trading
2,B·∫¢O NG√î,[Cu·ªôc g·ªçi l√∫c gi·ªØa ƒë√™m]‚Ä¶\r\n\r\nKh√¥ng ph·∫£i bon...,C·ª±c k√¨ h√†i l√≤ng,ƒê√°nh gi√° v√†o 3 th√°ng tr∆∞·ªõc,2024-01-11,Tiki Trading
3,NG√î QU·ªêC KH√ÅNH,Tiki giao l√∫c 1h s√°ng. √Åp m√£ 500K v√† gi·∫£m 2tr ...,C·ª±c k√¨ h√†i l√≤ng,ƒê√°nh gi√° v√†o 3 th√°ng tr∆∞·ªõc,2024-01-11,Tiki Trading
4,Hung Trieu,R·∫•t tin t∆∞·ªüng Tiki khi ƒë·∫∑t mua ƒëi·ªán tho·∫°i t·∫°i ...,C·ª±c k√¨ h√†i l√≤ng,ƒê√°nh gi√° v√†o 2 th√°ng tr∆∞·ªõc,2024-01-11,Tiki Trading
...,...,...,...,...,...,...
294,vu thang,Th·∫•y b·∫£o nh·∫≠n h√†ng ph·∫£i c√≥ m√£ otp m·ªõi nh·∫≠n ƒëc ...,R·∫•t kh√¥ng h√†i l√≤ng,ƒê√°nh gi√° v√†o 2 th√°ng tr∆∞·ªõc,2024-01-27,Tiki Trading
295,Vi·ªát D≈©ng ƒêo√†n,H√†ng ko cho ƒë·ªïi tr·∫£ khi ƒë·ªïi √Ω,R·∫•t kh√¥ng h√†i l√≤ng,ƒê√°nh gi√° v√†o 3 th√°ng tr∆∞·ªõc,2024-01-27,Tiki Trading
296,Thu Nga,Ch∆∞a th·∫•y ho√†n astra cho m√¨nh,Kh√¥ng h√†i l√≤ng,ƒê√°nh gi√° v√†o 3 th√°ng tr∆∞·ªõc,2024-01-27,Tiki Trading
297,Nguy·ªÖn Quang,NaN,H√†i l√≤ng,ƒê√°nh gi√° v√†o 2 th√°ng tr∆∞·ªõc,2024-01-27,Tiki Trading
298,Tr·∫ßn H√πng ƒê·∫°t,NaN,H√†i l√≤ng,ƒê√°nh gi√° v√†o 3 th√°ng tr∆∞·ªõc,2024-01-27,Tiki Trading

In [52]:
# Bi·∫øn ƒë·ªïi c·ªôt 'Rating date' th√†nh ng√†y c·ª• th·ªÉ th√¥ng qua 'Crawl date'
actual_date_list = []

for num in range(len(tiki_reviews)):
    text_date = tiki_reviews.loc[num, ['Rating date', 'Crawl date']][0]
    crawl_date = tiki_reviews.loc[num, ['Rating date', 'Crawl date']][1]

    actual_date = extract_date_review(text_date, crawl_date)
    actual_date_list.append(actual_date)

tiki_reviews['Rating date'] = actual_date_list
tiki_reviews.drop(columns=['Crawl date'], inplace=True)

In [64]:
# Bi·∫øn ƒë·ªïi c·ªôt "Rating" th√†nh thang ƒëo likert
rating_likert = {'R·∫•t kh√¥ng h√†i l√≤ng': 1, 'Kh√¥ng h√†i l√≤ng': 2, 'B√¨nh th∆∞·ªùng': 3, 'H√†i l√≤ng': 4, 'C·ª±c k√¨ h√†i l√≤ng': 5}

for num in range(len(tiki_reviews)):
    rating = tiki_reviews.loc[num, 'Rating']
    for k, v in rating_likert.items():
        if rating == k:
            tiki_reviews.loc[num, 'Rating'] = v

In [73]:
# Lo·∫°i b·ªè nh·ªØng d√≤ng tr√πng "Reviewer name" v√† "Content"
tiki_reviews.drop_duplicates(subset=['Reviewer name', 'Content'], keep='last', inplace=True, ignore_index=True)

In [76]:
tiki_reviews

,Reviewer name,Content,Rating,Rating date,Shop name
0,L√Ω Nguyen,üòÇ. Haha,5,2023-12-23,Tiki Trading
1,vu thang,Th·∫•y b·∫£o nh·∫≠n h√†ng ph·∫£i c√≥ m√£ otp m·ªõi nh·∫≠n ƒëc ...,1,2023-12-11,Tiki Trading
2,muasach,"22/9 ƒë√∫ng 00h l√™n topzone, TGDƒê, FPT Shop, ƒë·∫∑t...",5,2023-09-27,Tiki Trading
3,V≈© th·ªã h∆∞·ªùng,ƒêam m√™ t√°o k th·ªÉ b·ªè qua Iphone 15promax v√¨: \r...,5,2023-09-27,Tiki Trading
4,B·∫¢O NG√î,[Cu·ªôc g·ªçi l√∫c gi·ªØa ƒë√™m]‚Ä¶\r\n\r\nKh√¥ng ph·∫£i bon...,5,2023-09-27,Tiki Trading
...,...,...,...,...,...
96,vu thang,Th·∫•y b·∫£o nh·∫≠n h√†ng ph·∫£i c√≥ m√£ otp m·ªõi nh·∫≠n ƒëc ...,1,2023-11-27,Tiki Trading
97,Vi·ªát D≈©ng ƒêo√†n,H√†ng ko cho ƒë·ªïi tr·∫£ khi ƒë·ªïi √Ω,1,2023-10-27,Tiki Trading
98,Thu Nga,Ch∆∞a th·∫•y ho√†n astra cho m√¨nh,2,2023-10-27,Tiki Trading
99,Nguy·ªÖn Quang,NaN,4,2023-11-27,Tiki Trading
100,Tr·∫ßn H√πng ƒê·∫°t,NaN,4,2023-10-27,Tiki Trading

# Lazada

# Websites

#### Tinhte _Uncompleted

In [78]:
tt_keyword = [['Iphone15pm','P001'],['SamsungS23u','P002']]

In [81]:
df = pd.DataFrame()

for i in range(len(tt_keyword)):
    
    name_info= pd.read_csv(f'..\Data\TinhTe\TinhTe_{tt_keyword[i][0]}_InfoPosts.csv')
    name_cmt = pd.read_csv(f'..\Data\TinhTe\TinhTe_{tt_keyword[i][0]}_Comments.csv')

    #Rename columns following the required format in the Database
    name_info.rename(columns={'Link':'SMReviewID','Author':'ReviewerName','Post Date':'DateReview','Comments Count':'CommentCount','Content':'Review'},inplace=True)
        # covert date column in name_cmt into right format
        # use a function
        
    name_cmt.rename(columns={'Link':'SMReviewID','Date':'DateReview','Comment':'Review'},inplace=True)
    
    # Add PlatformID column
    name_info['PlatformID'] = 'PL05'
    name_cmt['PlatformID'] = 'PL05'

    # Add ProductID column
    name_info['ProductID'] = tt_keyword[i][1]
    name_cmt['ProductID'] = tt_keyword[i][1]

    # Add TypeReview column
    name_info['TypeReview'] = 'Post'
    name_cmt['TypeReview'] = 'Comment'
    df = pd.concat([df,name_info,name_cmt],ignore_index=True)

4626
10724

In [85]:
cmt = pd.read_csv('../Data/TinhTe/TinhTe_Iphone15pm_Comments.csv')

In [86]:
cmt

,Link,Date,Comment
0,https://tinhte.vn/thread/nang-cap-len-iphone-1...,3 th√°ng,B√†i vi·∫øt hay. \r\nTh·∫≠t s·ª± c·∫ßm c√°i 14prm tr√™n t...
1,https://tinhte.vn/thread/nang-cap-len-iphone-1...,3 th√°ng,"c·∫ßm c·∫£ nƒÉm th√¨ c≈©ng quen, nh∆∞ng n·∫∑ng th√¨ v·∫´n l..."
2,https://tinhte.vn/thread/nang-cap-len-iphone-1...,3 th√°ng,C·∫ßm 14pm r·ªìi c·∫ßm 15pm th·∫•y kh√°c ngay v√† lu√¥n ƒë...
3,https://tinhte.vn/thread/nang-cap-len-iphone-1...,3 th√°ng,M√¨nh c·∫ßm c·∫£ hai r·ªìi th·∫•y ko v·∫•n ƒë·ªÅ v·ªÅ ƒë·ªô n·∫∑ng....
4,https://tinhte.vn/thread/nang-cap-len-iphone-1...,3 th√°ng,"M√¨nh ms c·∫ßm l√† th·∫•y ngay, ƒë∆∞a cho t·∫•t c·∫£ ƒë·ªìng ..."
...,...,...,...
4526,https://tinhte.vn/thread/iphone-15-co-the-duoc...,6 th√°ng,Kinh t·∫ø nƒÉm nay kh√≥ khƒÉn m√† Apple tƒÉng s·∫£n l∆∞·ª£...
4527,https://tinhte.vn/thread/iphone-15-co-the-duoc...,6 th√°ng,Ip 13 c·ªßa m√¨nh b·ªã b·ªÉ m·∫∑t l∆∞ng bi·∫øt ƒë·∫øn bao h b...
4528,https://tinhte.vn/thread/iphone-15-co-the-duoc...,6 th√°ng,"Nghe c√≥ v·∫ª sang x·ªãn ƒë·∫•y,nh∆∞ng ƒë·ªÉ b·ªè ra 50 c·ªß k..."
4529,https://tinhte.vn/thread/iphone-15-co-the-duoc...,6 th√°ng,R·ªìi c√≥ th√™m ƒë·∫∑c s·∫£n ph·∫£i c√¢u d√¢y ƒë·ªìng khi h·∫øt ...
4530,https://tinhte.vn/thread/iphone-15-co-the-duoc...,6 th√°ng,"Th·ªùi bu·ªïi l·∫°m ph√°t cao, n√™n c√≥ th·ªÉ √≠t ng∆∞·ªùi c√≥..."

# Youtube