In [2]:
import pandas as pd
from datetime import datetime
import dateutil.relativedelta
from datetime import date
# import pypyodbc as odbc

# Test database

In [2]:
# drive_name = 'SQL SERVER'
# server_name = 'DESKTOP-29355SM\SQLEXPRESS'
# database_name = 'Bank'

# connection_string = f"""
#     DRIVER={{{drive_name}}};
#     SERVER={server_name};
#     DATABASE={database_name};
#     Trust_Connection=yes;
# """

# conn = odbc.connect(connection_string)

In [3]:
# cursor = conn.cursor()

In [4]:
# cursor.execute("""
# Create table Persons (
#     PersonID int,
#     LastName varchar(255),
#     FirstName varchar(255),
#     Address varchar(255),
#     City varchar(255)
# )
# """)

In [5]:
# df = pd.read_sql('Select * from account', conn)

In [6]:
# conn.commit()

# Function

In [3]:
def extract_date_review(text_date, crawl_date): # Bi·∫øn ƒë·ªïi kho·∫£ng th·ªùi gian (1 th√°ng tr∆∞·ªõc, 2 ng√†y tr∆∞·ªõc) th·∫±nh ng√†y c·ª• th·ªÉ v√† tr·∫£ v·ªÅ datetime
    sub_text = text_date.split(' ')
    date_cmt = ''

    if 'nƒÉm' in text_date:
        for t in sub_text:
            if t.isnumeric():
                date_cmt = datetime.strptime(crawl_date, '%Y-%m-%d').date() - dateutil.relativedelta.relativedelta(years=int(t))
    elif 'th√°ng' in text_date:
        for t in sub_text:
            if t.isnumeric():
                date_cmt = datetime.strptime(crawl_date, '%Y-%m-%d').date() - dateutil.relativedelta.relativedelta(months=int(t))
    elif 'tu·∫ßn' in text_date:
        for t in sub_text:
            if t.isnumeric():
                date_cmt = datetime.strptime(crawl_date, '%Y-%m-%d').date() - dateutil.relativedelta.relativedelta(weeks==int(t))
    elif 'ng√†y' in text_date:
        for t in sub_text:
            if t.isnumeric():
                date_cmt = datetime.strptime(crawl_date, '%Y-%m-%d').date() - dateutil.relativedelta.relativedelta(days=int(t))
    else:
        date_cmt = datetime.strptime(crawl_date, '%Y-%m-%d').date()

    return date_cmt

In [20]:
def create_id(last_id): # T·∫°o ID m·ªõi v√† tr·∫£ v·ªÅ string
    last_id_list = []
    newest_id = ''

    for s in list(last_id):
        if s.isnumeric():
            last_id_list.append(s)
        else:
            newest_id += s
    
    last_id = str(int(''.join(last_id_list)) + 1)
    if len(last_id_list) != len(last_id):
        num_0 = len(last_id_list) - len(last_id)
        newest_id += '0'*num_0 + last_id
    else:
        newest_id += last_id
    
    return newest_id

In [17]:
def add_data(file_table_name, df, id_format=None): # Th√™m df v√†o file save
    # L∆∞u √Ω: df kh√¥ng ch·ª©a c·ªôt ID, th·ª© t·ª± c·ªôt v√† ƒë·ªãnh d·∫°ng gi·ªëng v·ªõi file save v√† n·∫øu file save tr·ªëng th√¨ c·∫ßn ƒë∆∞a ID format (S000, PL00,...)
    table = pd.read_csv(r'..\Data\Preprocessed_data\%s'%(file_table_name))

    # Lo·∫°i b·ªè nh·ªØng d√≤ng trong df ƒë√£ c√≥ trong table
    drop_index = []
    for index in range(len(df)):
        if list(df.iloc[index]) in table[table.columns[1:]].values.tolist():
            drop_index.append(index)
    df.drop(drop_index, inplace=True)

    newest_id = ''
    if id_format != None:
        newest_id = create_id(id_format)
    else:
        newest_id = create_id(table.iloc[-1][0])

    list_id = []
    for i in range(len(df)):
        list_id.append(newest_id)
        newest_id = create_id(newest_id)
    df.insert(loc=0, column='ID', value=list_id)

    df.columns = table.columns
    table = pd.concat([table, df], ignore_index=True)
    table.to_csv(r'..\Data\Preprocessed_data\%s'%(file_table_name), index=False)

In [5]:
def add_shop(new_shop_df): # Th√™m shop m·ªõi v√†o file Shop.csv (new_shop_df ch·ªâ bao g·ªìm 'Shop name', 'Shop rating' v√† ƒë·∫∑t ƒë√∫ng th·ª© t·ª±)
    shop_df = pd.read_csv(r'..\Data\Preprocessed_data\Shop.csv')
    check_shop_list = new_shop_df.drop_duplicates(subset=new_shop_df.columns[0], keep='last', ignore_index=True)
    drop_index = []

    for index_shop in range(len(check_shop_list)):
        if check_shop_list.iloc[index_shop][0] in shop_df['ShopName'].values:
            drop_index.append(index_shop)

    check_shop_list.drop(drop_index, inplace=True)

    if len(shop_df) == 0:
        add_data('Shop.csv', check_shop_list, id_format='S000')
    else:
        add_data('Shop.csv', check_shop_list)

# Main

In [11]:
# product = input()
product = 'iphone 15 pro max'

# Tiki

#### Product info

In [12]:
tiki_product_info = pd.read_csv(r'..\Data\Tiki\%s_info.csv'%('_'.join(product.split(' '))))

In [13]:
# L·∫•y nh·ªØng c·ªôt c·∫ßn thi·∫øt
tiki_product_info = tiki_product_info[['Name', 'Brand', 'Quantity', 'Reviews count', 'Star rating', 
                                       'Price', 'Crawl date', 'Shop name', 'Shop rating']]

In [14]:
tiki_product_info.dtypes

Name              object
Brand             object
Quantity           int64
Reviews count      int64
Star rating      float64
Price             object
Crawl date        object
Shop name         object
Shop rating      float64
dtype: object

In [15]:
# Th√™m c·ªôt "Platform ID"
tiki_product_info['Platform ID'] = 'PL01'

In [ ]:
# Lo·∫°i b·ªè d·∫•u "." trong c·ªôt "Price" v√† ƒë·ªïi ƒë·ªãnh d·∫°ng th√†nh int
tiki_product_info['Price'] = tiki_product_info['Price'].str.replace('.', '', regex=True).astype(int)

In [ ]:
tiki_product_info

,Name,Brand,Quantity,Reviews count,Star rating,Price,Crawl date,Shop name,Shop rating,Platform ID
0,Apple iPhone 15 Pro Max,Apple,691,96,5.0,31990000,2024-01-11,Tiki Trading,4.7,PL01
1,Apple iPhone 15 Pro Max,Apple,726,100,5.0,31990000,2024-01-18,Tiki Trading,4.7,PL01
2,Apple iPhone 15 Pro Max,Apple,740,103,5.0,31990000,2024-01-27,Tiki Trading,4.7,PL01

In [ ]:
tiki_product_info.dtypes

Name              object
Brand             object
Quantity           int64
Reviews count      int64
Star rating      float64
Price              int32
Crawl date        object
Shop name         object
Shop rating      float64
Platform ID       object
dtype: object

#### Reviews

In [ ]:
tiki_reviews = pd.read_csv(r'..\Data\Tiki\%s_reviews.csv'%('_'.join(product.split(' '))))

In [ ]:
tiki_reviews

,Reviewer name,Content,Rating,Rating date,Crawl date,Shop name
0,muasach,"22/9 ƒë√∫ng 00h l√™n topzone, TGDƒê, FPT Shop, ƒë·∫∑t...",C·ª±c k√¨ h√†i l√≤ng,ƒê√°nh gi√° v√†o 3 th√°ng tr∆∞·ªõc,2024-01-11,Tiki Trading
1,V≈© th·ªã h∆∞·ªùng,ƒêam m√™ t√°o k th·ªÉ b·ªè qua Iphone 15promax v√¨: \r...,C·ª±c k√¨ h√†i l√≤ng,ƒê√°nh gi√° v√†o 3 th√°ng tr∆∞·ªõc,2024-01-11,Tiki Trading
2,B·∫¢O NG√î,[Cu·ªôc g·ªçi l√∫c gi·ªØa ƒë√™m]‚Ä¶\r\n\r\nKh√¥ng ph·∫£i bon...,C·ª±c k√¨ h√†i l√≤ng,ƒê√°nh gi√° v√†o 3 th√°ng tr∆∞·ªõc,2024-01-11,Tiki Trading
3,NG√î QU·ªêC KH√ÅNH,Tiki giao l√∫c 1h s√°ng. √Åp m√£ 500K v√† gi·∫£m 2tr ...,C·ª±c k√¨ h√†i l√≤ng,ƒê√°nh gi√° v√†o 3 th√°ng tr∆∞·ªõc,2024-01-11,Tiki Trading
4,Hung Trieu,R·∫•t tin t∆∞·ªüng Tiki khi ƒë·∫∑t mua ƒëi·ªán tho·∫°i t·∫°i ...,C·ª±c k√¨ h√†i l√≤ng,ƒê√°nh gi√° v√†o 2 th√°ng tr∆∞·ªõc,2024-01-11,Tiki Trading
...,...,...,...,...,...,...
294,vu thang,Th·∫•y b·∫£o nh·∫≠n h√†ng ph·∫£i c√≥ m√£ otp m·ªõi nh·∫≠n ƒëc ...,R·∫•t kh√¥ng h√†i l√≤ng,ƒê√°nh gi√° v√†o 2 th√°ng tr∆∞·ªõc,2024-01-27,Tiki Trading
295,Vi·ªát D≈©ng ƒêo√†n,H√†ng ko cho ƒë·ªïi tr·∫£ khi ƒë·ªïi √Ω,R·∫•t kh√¥ng h√†i l√≤ng,ƒê√°nh gi√° v√†o 3 th√°ng tr∆∞·ªõc,2024-01-27,Tiki Trading
296,Thu Nga,Ch∆∞a th·∫•y ho√†n astra cho m√¨nh,Kh√¥ng h√†i l√≤ng,ƒê√°nh gi√° v√†o 3 th√°ng tr∆∞·ªõc,2024-01-27,Tiki Trading
297,Nguy·ªÖn Quang,NaN,H√†i l√≤ng,ƒê√°nh gi√° v√†o 2 th√°ng tr∆∞·ªõc,2024-01-27,Tiki Trading
298,Tr·∫ßn H√πng ƒê·∫°t,NaN,H√†i l√≤ng,ƒê√°nh gi√° v√†o 3 th√°ng tr∆∞·ªõc,2024-01-27,Tiki Trading

In [ ]:
# Bi·∫øn ƒë·ªïi c·ªôt 'Rating date' th√†nh ng√†y c·ª• th·ªÉ th√¥ng qua 'Crawl date'
actual_date_list = []

for num in range(len(tiki_reviews)):
    text_date = tiki_reviews.loc[num, ['Rating date', 'Crawl date']][0]
    crawl_date = tiki_reviews.loc[num, ['Rating date', 'Crawl date']][1]

    actual_date = extract_date_review(text_date, crawl_date)
    actual_date_list.append(actual_date)

tiki_reviews['Rating date'] = actual_date_list
tiki_reviews.drop(columns=['Crawl date'], inplace=True)

In [ ]:
# Bi·∫øn ƒë·ªïi c·ªôt "Rating" th√†nh thang ƒëo likert
rating_likert = {'R·∫•t kh√¥ng h√†i l√≤ng': 1, 'Kh√¥ng h√†i l√≤ng': 2, 'B√¨nh th∆∞·ªùng': 3, 'H√†i l√≤ng': 4, 'C·ª±c k√¨ h√†i l√≤ng': 5}

for num in range(len(tiki_reviews)):
    rating = tiki_reviews.loc[num, 'Rating']
    for k, v in rating_likert.items():
        if rating == k:
            tiki_reviews.loc[num, 'Rating'] = v

In [ ]:
# Lo·∫°i b·ªè nh·ªØng d√≤ng tr√πng "Reviewer name" v√† "Content"
tiki_reviews.drop_duplicates(subset=['Reviewer name', 'Content'], keep='last', inplace=True, ignore_index=True)

In [ ]:
tiki_reviews

,Reviewer name,Content,Rating,Rating date,Shop name
0,L√Ω Nguyen,üòÇ. Haha,5,2023-12-23,Tiki Trading
1,vu thang,Th·∫•y b·∫£o nh·∫≠n h√†ng ph·∫£i c√≥ m√£ otp m·ªõi nh·∫≠n ƒëc ...,1,2023-12-11,Tiki Trading
2,muasach,"22/9 ƒë√∫ng 00h l√™n topzone, TGDƒê, FPT Shop, ƒë·∫∑t...",5,2023-09-27,Tiki Trading
3,V≈© th·ªã h∆∞·ªùng,ƒêam m√™ t√°o k th·ªÉ b·ªè qua Iphone 15promax v√¨: \r...,5,2023-09-27,Tiki Trading
4,B·∫¢O NG√î,[Cu·ªôc g·ªçi l√∫c gi·ªØa ƒë√™m]‚Ä¶\r\n\r\nKh√¥ng ph·∫£i bon...,5,2023-09-27,Tiki Trading
...,...,...,...,...,...
96,vu thang,Th·∫•y b·∫£o nh·∫≠n h√†ng ph·∫£i c√≥ m√£ otp m·ªõi nh·∫≠n ƒëc ...,1,2023-11-27,Tiki Trading
97,Vi·ªát D≈©ng ƒêo√†n,H√†ng ko cho ƒë·ªïi tr·∫£ khi ƒë·ªïi √Ω,1,2023-10-27,Tiki Trading
98,Thu Nga,Ch∆∞a th·∫•y ho√†n astra cho m√¨nh,2,2023-10-27,Tiki Trading
99,Nguy·ªÖn Quang,NaN,4,2023-11-27,Tiki Trading
100,Tr·∫ßn H√πng ƒê·∫°t,NaN,4,2023-10-27,Tiki Trading

# Lazada

# Websites

In [10]:

# Function
def fill_nan_values(df,key): 
    # Fill NaN when combined comment and post data
    url_groups = df.groupby(key)
    for _,group in url_groups:
        non_nan_row = group.dropna(subset=['Title','ReviewerName','CommentCount'])
        if non_nan_row.empty:
            continue
        non_nan_row = non_nan_row.iloc[0]
        nan_rows_index = group.index[group[['Title','ReviewerName','CommentCount']].isnull().any(axis=1)].tolist()
        for index in nan_rows_index:
            df.loc[index,'Title']  =non_nan_row['Title']
            df.loc[index,'ReviewerName'] = non_nan_row['ReviewerName']
            df.loc[index,'CommentCount'] = non_nan_row['CommentCount']

    return df

#### Tinhte _Uncompleted
 -- Handing NaN values: finding causes

In [21]:
# create a function to remove non content pages (page2, page3...) -- for post data OR edit link (xx/page2;xx/page3 -> xx/) -- for comment data
def remove_or_edit_links(data,type):
    if type.lower() == 'post':
        del_rows=0
        for index,link in data['Link'].items():
            last_link = link.split('/')[-1]
            if last_link !='':
                data.drop(index,inplace=True)
                del_rows+=1
        print(f'Deleted: {del_rows} rows')

    elif type.lower() =='cmt' or type.lower()=='comment':
        edited_rows=0
        for index,link in data['Link'].items():
            last_link =  link.split('/')
            if last_link[-1] !='':
                del(last_link[-1])
                newlink = '/'.join(last_link) +'/'
                data['Link'].iloc[index] = newlink
                edited_rows+=1

        print(f'Edited: {edited_rows} links')

    return data

In [ ]:
import warnings
from datetime import datetime
warnings.simplefilter(action='ignore',category=FutureWarning)

# provide keyword items folowing index[Nameproduct,Product_id,crawldate]
tt_keyword = [['Iphone15pm','P001'],['SamsungS23u','P002']]

df = pd.DataFrame()

for i in range(len(tt_keyword)):
    
    name_info= pd.read_csv(f'..\Data\TinhTe\TinhTe_{tt_keyword[i][0]}_InfoPosts.csv')
    name_cmt = pd.read_csv(f'..\Data\TinhTe\TinhTe_{tt_keyword[i][0]}_Comments.csv')

    # Convert Date columns to the same format: %Y-%m-%d
    name_info['Post Date'] = pd.to_datetime(name_info['Post Date'],format='%d/%m/%Y %H:%M')
    name_info['Post Date'] = name_info['Post Date'].dt.strftime('%Y-%m-%d')
    name_cmt['Crawl date'] = date(2024,1,19).strftime('%Y-%m-%d')

    actual_date_list = []

    for num in range(len(name_cmt)):
        text_date = name_cmt.loc[num, ['Date', 'Crawl date']][0]
        crawl_date = name_cmt.loc[num, ['Date', 'Crawl date']][1]
        actual_date = extract_date_review(text_date, crawl_date)
        actual_date_list.append(actual_date)

    name_cmt['Date'] = actual_date_list
    name_cmt.drop(columns=['Crawl date'],inplace=True)

    # Link Column 
    name_info = remove_or_edit_links(name_info,'post')
    name_cmt = remove_or_edit_links(name_cmt,'cmt')

    # Rename columns following the required format in the Database
    name_info.rename(columns={'Author':'ReviewerName','Post Date':'DateReview','Comments Count':'CommentCount','Content':'Review'},inplace=True)
    name_cmt.rename(columns={'Date':'DateReview','Comment':'Review'},inplace=True)

    # Add PlatformID column
    name_info['PlatformID'] = 'PL05'
    name_cmt['PlatformID'] = 'PL05'

    # Add ProductID column
    name_info['ProductID'] = tt_keyword[i][1]
    name_cmt['ProductID'] = tt_keyword[i][1]

    # Add TypeReview column
    name_info['TypeReview'] = 'Post'
    name_cmt['TypeReview'] = 'Comment'

    df = pd.concat([df,name_info,name_cmt],ignore_index=True)

df = fill_nan_values(df,'Link')

#Drop unneccesary columns
df.drop(columns=['Link'], inplace=True)

# Check data
print(df.isna().sum())

# Save data
# L∆∞u v√†o file save SocialMediaReviews.csv
smr_df = pd.read_csv(r'..\Data\Preprocessed_data\SocialMediaReviews.csv')
if len(smr_df) == 0:
    add_data('SocialMediaReviews.csv', df, 'SM00000000')
else:
    add_data('SocialMediaReviews.csv', df)

In [16]:
df

,Title,ReviewerName,DateReview,CommentCount,Review,PlatformID,ProductID,TypeReview
0,N√¢ng c·∫•p l√™n iPhone 15 Pro Max - B·∫£n facelift ...,linhpham89,2023-10-24,129.0,1. Gi·ªõi thi·ªáu\nM√¨nh l√† m·ªôt ifan ch√≠nh hi·ªáu t·ª´ ...,PL05,P001,Post
1,So s√°nh camera iPhone 15 Pro Max v√† Google Pix...,Ho√†ng H·∫£i.,2023-10-22,233.0,V·ªÅ m·∫∑t l√Ω thuy·∫øt th√¨ ƒë√¢y l√† k√®o r·∫•t c√¢n v√¨ c·∫£ ...,PL05,P001,Post
2,C√°ch m√¨nh thi·∫øt l·∫≠p ƒë·ªÉ ch·ª•p h√¨nh v√† quay phim ...,Ho√†ng H·∫£i.,2023-10-25,41.0,ƒê√¢y l√† c√°ch thi·∫øt l·∫≠p m√°y c·ªßa m√¨nh sau khi nh·∫≠...,PL05,P001,Post
3,M·ªü h·ªôp iPhone 15 Pro Max Natural Titan: M·ªÅm m·∫°...,L√™ Huy·ªÅn V√¢n,2023-09-22,136.0,Tinh t·∫ø ƒë√£ c√≥ s·ªõm\niPhone 15 Pro Max\nNatural ...,PL05,P001,Post
4,L·∫°i ph·∫£i quay v·ªÅ iPhone 15 Pro sau 2 tu·∫ßn d√πng...,Tr·∫ßn Ho√†ng Long.,2023-10-23,185.0,iPhone 15 Pro Max\nl√† chi·∫øc\niPhone\nk√≠ch th∆∞·ªõ...,PL05,P001,Post
...,...,...,...,...,...,...,...,...
15321,Th·ª≠ mang Galaxy S23 Ultra ƒëi ch·ª•p th·ªÉ thao b·∫±n...,Didu,2023-03-19,47.0,kh√¥ng bi·∫øt c√≥ ph·∫£i do √°nh s√°ng kh√¥ng ƒë·ªß kh√¥ng ...,PL05,P002,Comment
15322,Th·ª≠ mang Galaxy S23 Ultra ƒëi ch·ª•p th·ªÉ thao b·∫±n...,Didu,2023-03-19,47.0,m√¨nh ch·ªß ƒë·ªông gi·∫£m s√°ng ƒë√≥ b,PL05,P002,Comment
15323,Th·ª≠ mang Galaxy S23 Ultra ƒëi ch·ª•p th·ªÉ thao b·∫±n...,Didu,2023-03-19,47.0,Ch·ª•p 10 nho√® 9 b√°c nh·ªâ,PL05,P002,Comment
15324,Th·ª≠ mang Galaxy S23 Ultra ƒëi ch·ª•p th·ªÉ thao b·∫±n...,Didu,2023-03-19,47.0,Th·∫•y nhi·ªÅu anti tr√™n tinhte ch√™ ƒëi·ªán tho·∫°i Sam...,PL05,P002,Comment
15325,Th·ª≠ mang Galaxy S23 Ultra ƒëi ch·ª•p th·ªÉ thao b·∫±n...,Didu,2023-03-19,47.0,Iphone r ch·ª•p ƒë∆∞·ª£c v·∫≠y kh√¥ng m√† l≈© nh√≥c ifan c...,PL05,P002,Comment

# Youtube -- reply comments preprocessing
- reply comments
- convert comment(cmt) , date published(info) to the general format
- group comment id to fill null values in comment data (cmt)

In [ ]:
yt_keyword = [['iphone_15_pro_max','P001'],['galaxy_s23_ultra','P002']]

def yt_preprocessing():
    yt_df = pd.DataFrame()
    for i in range(len(yt_keyword)):

        #Import data
        yt_info = pd.read_csv(f'../Data/Youtube/video_info_{yt_keyword[i][0]}.csv')
        yt_cmt = pd.read_csv(f'../Data/Youtube/comments_{yt_keyword[i][0]}.csv')

        # Rename columns
        yt_info.rename(columns={'Date published':'DateReview','Channel title':'ReviewerName','Comments count':'CommentCount'},inplace=True)
        yt_cmt.rename(columns={'Comment':'Review','Comment time':'DateReview'},inplace=True)

        # Add ProductID column
        yt_info['ProductID'] = yt_keyword[i][1]
        yt_cmt['ProductID'] = yt_keyword[i][1]

        # Add TypeReview column
        yt_info['TypeReview'] = 'Post'
        yt_cmt['TypeReview'] = 'Comment'
        print(yt_cmt.dtypes)
        # Add data to main df
        yt_df = pd.concat([yt_df,yt_info,yt_cmt],ignore_index=True)

    return yt_df

def reply_comments(data):
    for index,reply in  data['Reply'].items():
        if reply !='':
            reply = reply.split('<>')
            for rl in reply:
                new_location = len(data)
                # data.
    pass


def yt_main(df):
    df = fill_nan_values(df,'Id')
    # Remove unneccesary columns
    df.drop(columns=['Unnamed: 0','View count','Like count','Id'],inplace=True)
    # Add PlatformID column 
    df['PlatformID'] ='PL04'
    # Convert DateReview column to the general format
    df['DateReview'] = pd.to_datetime(df['DateReview'],format="%Y-%m-%dT%H:%M:%SZ")
    df['DateReview'] = df['DateReview'].dt.strftime('%Y-%m-%d')
    print(df.isna().sum())
    
    return df

pre_df= yt_preprocessing()
yt_df = yt_main(pre_df)

# Save file
# L∆∞u v√†o file save SocialMediaReviews.csv
smr_df = pd.read_csv(r'..\Data\Preprocessed_data\SocialMediaReviews.csv')
if len(smr_df) == 0:
    add_data('SocialMediaReviews.csv', yt_df, 'SM00000000')
else:
    add_data('SocialMediaReviews.csv', yt_df)

Unnamed: 0    float64
Id             object
Review         object
DateReview     object
Reply          object
ProductID      object
TypeReview     object
dtype: object
Unnamed: 0    float64
Id             object
Review         object
DateReview     object
Reply          object
ProductID      object
TypeReview     object
dtype: object
DateReview          0
Title               0
ReviewerName        0
CommentCount        0
ProductID           0
TypeReview          0
Review            255
Reply           18989
PlatformID          0
dtype: int64

In [14]:
yt_df

,DateReview,Title,ReviewerName,CommentCount,ProductID,TypeReview,Review,Reply,PlatformID
0,2023-10-04,SO S√ÅNH iPHONE 15 PRO MAX VS iPHONE 14 PRO MAX...,Duy Th·∫©m,359.0,P001,Post,NaN,NaN,PL04
1,2023-09-12,TR√äN TAY iPHONE 15 PRO MAX TR·ª∞C TI·∫æP T·ª™ APPLE ...,Duy Th·∫©m,460.0,P001,Post,NaN,NaN,PL04
2,2023-09-27,ƒê·∫≠p h·ªôp iPhone 15 Pro Max Natural Titan Ch√≠nh ...,Duy Th·∫©m,236.0,P001,Post,NaN,NaN,PL04
3,2023-11-07,UNBOX G·∫¶N 700 TRI·ªÜU TI·ªÄN iPHONE 15 PRO MAX: M·∫†...,Duy Th·∫©m,100.0,P001,Post,NaN,NaN,PL04
4,2023-11-06,ƒê√°nh gi√° chi ti·∫øt iPhone 15 Pro Max | V·∫≠t V·ªù S...,V·∫≠t V·ªù Studio,414.0,P001,Post,NaN,NaN,PL04
...,...,...,...,...,...,...,...,...,...
26908,2023-06-03,Galaxy S23 Ultra H√†n ƒê·∫ÆT H∆†N ch√≠nh h√£ng... v·∫´n...,Tony Ph√πng Studio,94.0,P002,Comment,Ram th·∫≠t s·ª± 8 hay 12 kh√¥ng quan tr·ªçng. ƒê√¢y ch·ªâ...,ƒë√∫ng r·ªìi d√πng b√¨nh th∆∞·ªùng ch·∫≥ng c√≥ s·ª± kh√°c bi·ªá...,PL04
26909,2023-06-03,Galaxy S23 Ultra H√†n ƒê·∫ÆT H∆†N ch√≠nh h√£ng... v·∫´n...,Tony Ph√πng Studio,94.0,P002,Comment,Xt m·∫Øc h∆°n l√πa g√† mua hay g√¨ ta,NaN,PL04
26910,2023-06-03,Galaxy S23 Ultra H√†n ƒê·∫ÆT H∆†N ch√≠nh h√£ng... v·∫´n...,Tony Ph√πng Studio,94.0,P002,Comment,Th·∫≠t ch√°n khi b·∫£n base VN h·ªìi Note 10+ c≈©ng ƒë√£...,Samsung n√≥ h·ªçc ip ·∫•y c√¥ng nh·∫≠n adr 8gb ram qu√°...,PL04
26911,2023-06-03,Galaxy S23 Ultra H√†n ƒê·∫ÆT H∆†N ch√≠nh h√£ng... v·∫´n...,Tony Ph√πng Studio,94.0,P002,Comment,B·∫£n h√†n kh√¥ng d√πng ƒë∆∞·ª£c samsung pay ƒë√∫ng kh√¥ng...,"ƒê√∫ng r·ªìi b·∫°n<>Ch·ªâ c√≥ m√°y ch√≠nh h√£ng, global m·ªõ...",PL04
26912,2023-06-03,Galaxy S23 Ultra H√†n ƒê·∫ÆT H∆†N ch√≠nh h√£ng... v·∫´n...,Tony Ph√πng Studio,94.0,P002,Comment,Con b·∫£n h√†n c≈©ng s·∫£n xu·∫•t ·ªü vi·ªát nam ph·∫£i ko ·∫°...,M√°y b·∫£n H√†n s·∫£n xu·∫•t t·∫°i H√†n Qu·ªëc b·∫°n ∆°i<>c∆∞·ªõc...,PL04