In [1]:
import pandas as pd
# import pypyodbc as odbc

# Test database

In [7]:
# drive_name = 'SQL SERVER'
# server_name = 'DESKTOP-29355SM\SQLEXPRESS'
# database_name = 'Bank'

# connection_string = f"""
#     DRIVER={{{drive_name}}};
#     SERVER={server_name};
#     DATABASE={database_name};
#     Trust_Connection=yes;
# """

# conn = odbc.connect(connection_string)

In [9]:
# cursor = conn.cursor()

In [13]:
# cursor.execute("""
# Create table Persons (
#     PersonID int,
#     LastName varchar(255),
#     FirstName varchar(255),
#     Address varchar(255),
#     City varchar(255)
# )
# """)

In [ ]:
# df = pd.read_sql('Select * from account', conn)

In [14]:
# conn.commit()

# Main

In [2]:
# product = input()
product = 'iphone 15 pro max'

# Tiki

#### Product info

In [38]:
tiki_product_info = pd.read_csv(r'..\Data\Tiki\%s_info.csv'%('_'.join(product.split(' '))))

In [39]:
# Lấy những cột cần thiết
tiki_product_info = tiki_product_info[['Name', 'Brand', 'Quantity', 'Reviews count', 'Star rating', 
                                       'Price', 'Crawl date', 'Shop name', 'Shop rating']]

In [40]:
tiki_product_info.dtypes

Name              object
Brand             object
Quantity           int64
Reviews count      int64
Star rating      float64
Price             object
Crawl date        object
Shop name         object
Shop rating      float64
dtype: object

In [44]:
# Thêm cột "Platform ID"
tiki_product_info['Platform ID'] = '01'

In [42]:
# Loại bỏ dấu "." trong cột "Price" và đổi định dạng thành int
tiki_product_info['Price'] = tiki_product_info['Price'].str.replace('.', '', regex=True).astype(int)

In [45]:
tiki_product_info

,Name,Brand,Quantity,Reviews count,Star rating,Price,Crawl date,Shop name,Shop rating,Platform ID
0,Apple iPhone 15 Pro Max,Apple,691,96,5.0,31990000,2024-01-11,Tiki Trading,4.7,01
1,Apple iPhone 15 Pro Max,Apple,726,100,5.0,31990000,2024-01-18,Tiki Trading,4.7,01
2,Apple iPhone 15 Pro Max,Apple,740,103,5.0,31990000,2024-01-27,Tiki Trading,4.7,01

In [46]:
tiki_product_info.dtypes

Name              object
Brand             object
Quantity           int64
Reviews count      int64
Star rating      float64
Price              int32
Crawl date        object
Shop name         object
Shop rating      float64
Platform ID       object
dtype: object

#### Reviews

In [47]:
tiki_reviews = pd.read_csv(r'..\Data\Tiki\%s_reviews.csv'%('_'.join(product.split(' '))))

In [52]:
tiki_reviews

,Reviewer name,Content,Rating,Rating date,Crawl date,Shop name
0,muasach,"22/9 đúng 00h lên topzone, TGDĐ, FPT Shop, đặt...",Cực kì hài lòng,Đánh giá vào 3 tháng trước,2024-01-11,Tiki Trading
1,Vũ thị hường,Đam mê táo k thể bỏ qua Iphone 15promax vì: \r...,Cực kì hài lòng,Đánh giá vào 3 tháng trước,2024-01-11,Tiki Trading
2,BẢO NGÔ,[Cuộc gọi lúc giữa đêm]…\r\n\r\nKhông phải bon...,Cực kì hài lòng,Đánh giá vào 3 tháng trước,2024-01-11,Tiki Trading
3,NGÔ QUỐC KHÁNH,Tiki giao lúc 1h sáng. Áp mã 500K và giảm 2tr ...,Cực kì hài lòng,Đánh giá vào 3 tháng trước,2024-01-11,Tiki Trading
4,Hung Trieu,Rất tin tưởng Tiki khi đặt mua điện thoại tại ...,Cực kì hài lòng,Đánh giá vào 2 tháng trước,2024-01-11,Tiki Trading
...,...,...,...,...,...,...
294,vu thang,Thấy bảo nhận hàng phải có mã otp mới nhận đc ...,Rất không hài lòng,Đánh giá vào 2 tháng trước,2024-01-27,Tiki Trading
295,Việt Dũng Đoàn,Hàng ko cho đổi trả khi đổi ý,Rất không hài lòng,Đánh giá vào 3 tháng trước,2024-01-27,Tiki Trading
296,Thu Nga,Chưa thấy hoàn astra cho mình,Không hài lòng,Đánh giá vào 3 tháng trước,2024-01-27,Tiki Trading
297,Nguyễn Quang,NaN,Hài lòng,Đánh giá vào 2 tháng trước,2024-01-27,Tiki Trading
298,Trần Hùng Đạt,NaN,Hài lòng,Đánh giá vào 3 tháng trước,2024-01-27,Tiki Trading

In [50]:
tiki_reviews['Rating date'].unique()

array(['Đánh giá vào 3 tháng trước', 'Đánh giá vào 2 tháng trước',
       'Đánh giá vào 1 tháng trước', 'Đánh giá vào 19 ngày trước',
       'Đánh giá vào 14 ngày trước', 'Đánh giá vào 9 ngày trước',
       'Đánh giá vào 13 ngày trước', 'Đánh giá vào 18 ngày trước',
       'Đánh giá vào 21 ngày trước', 'Đánh giá vào 23 ngày trước',
       'Đánh giá vào 4 tháng trước', 'Đánh giá vào 1 ngày trước',
       'Đánh giá vào 4 ngày trước', 'Đánh giá vào 6 ngày trước',
       'Đánh giá vào 16 ngày trước', 'Đánh giá vào 20 ngày trước',
       'Đánh giá vào 25 ngày trước', 'Đánh giá vào 3 ngày trước',
       'Đánh giá vào 10 ngày trước', 'Đánh giá vào 5 ngày trước',
       'Đánh giá vào 15 ngày trước'], dtype=object)

In [51]:
# Biến đổi cột 'Rating date' thành ngày cụ thể thông qua 'Crawl date'

- 'Rating' chuyển thành thang đo từ 1 đến 5 hay 3 mức độ (tích cực, trung tính và tiêu cực)
- Xử lí duplicate

# Lazada

# Websites

#### Tinhte

In [8]:
tinhte_content = pd.read_csv(r'..\Data\TinhTe\TinhTe_Iphone15pm_InfoPosts2.csv')

# Youtube