In [1]:
import pandas as pd
from datetime import datetime
import dateutil.relativedelta
# import pypyodbc as odbc

In [127]:
pd.options.mode.copy_on_write = True

# Test database

In [2]:
# drive_name = 'SQL SERVER'
# server_name = 'DESKTOP-29355SM\SQLEXPRESS'
# database_name = 'Bank'

# connection_string = f"""
#     DRIVER={{{drive_name}}};
#     SERVER={server_name};
#     DATABASE={database_name};
#     Trust_Connection=yes;
# """

# conn = odbc.connect(connection_string)

In [3]:
# cursor = conn.cursor()

In [4]:
# cursor.execute("""
# Create table Persons (
#     PersonID int,
#     LastName varchar(255),
#     FirstName varchar(255),
#     Address varchar(255),
#     City varchar(255)
# )
# """)

In [5]:
# df = pd.read_sql('Select * from account', conn)

In [6]:
# conn.commit()

# Function

In [7]:
def extract_date_review(text_date, crawl_date): # Bi·∫øn ƒë·ªïi kho·∫£ng th·ªùi gian (1 th√°ng tr∆∞·ªõc, 2 ng√†y tr∆∞·ªõc) th·∫±nh ng√†y c·ª• th·ªÉ v√† tr·∫£ v·ªÅ datetime
    sub_text = text_date.split(' ')
    date_cmt = ''

    if 'nƒÉm' in text_date:
        for t in sub_text:
            if t.isnumeric():
                date_cmt = datetime.strptime(crawl_date, '%Y-%m-%d').date() - dateutil.relativedelta.relativedelta(years=int(t))
    elif 'th√°ng' in text_date:
        for t in sub_text:
            if t.isnumeric():
                date_cmt = datetime.strptime(crawl_date, '%Y-%m-%d').date() - dateutil.relativedelta.relativedelta(months=int(t))
    elif 'tu·∫ßn' in text_date:
        for t in sub_text:
            if t.isnumeric():
                date_cmt = datetime.strptime(crawl_date, '%Y-%m-%d').date() - dateutil.relativedelta.relativedelta(weeks==int(t))
    elif 'ng√†y' in text_date:
        for t in sub_text:
            if t.isnumeric():
                date_cmt = datetime.strptime(crawl_date, '%Y-%m-%d').date() - dateutil.relativedelta.relativedelta(days=int(t))
    else:
        date_cmt = datetime.strptime(crawl_date, '%Y-%m-%d').date()

    return date_cmt

In [8]:
def create_id(last_id): # T·∫°o ID m·ªõi v√† tr·∫£ v·ªÅ string
    last_id_list = []
    newest_id = ''

    for s in list(last_id):
        if s.isnumeric():
            last_id_list.append(s)
        else:
            newest_id += s
    
    last_id = str(int(''.join(last_id_list)) + 1)
    if len(last_id_list) != len(last_id):
        num_0 = len(last_id_list) - len(last_id)
        newest_id += '0'*num_0 + last_id
    else:
        newest_id += last_id
    
    return newest_id

In [84]:
def add_data(file_table_name, df, id_format=None): # Th√™m df v√†o file save(df kh√¥ng ch·ª©a c·ªôt ID, th·ª© t·ª± c·ªôt gi·ªëng v·ªõi file save v√† n·∫øu file save tr·ªëng th√¨ c·∫ßn ƒë∆∞a ID format (S000, PL00,...))
    table = pd.read_csv(r'..\Data\Preprocessed_data\%s'%(file_table_name))

    newest_id = ''
    if id_format != None:
        newest_id = create_id(id_format)
    else:
        newest_id = create_id(table.iloc[-1][0])

    list_id = []
    for i in range(len(df)):
        list_id.append(newest_id)
        newest_id = create_id(newest_id)
    df.insert(loc=0, column='ID', value=list_id)

    df.columns = table.columns
    table = pd.concat([table, df], ignore_index=True)
    table.drop_duplicates(keep='first', inplace=True, ignore_index=True)
    table.to_csv(r'..\Data\Preprocessed_data\%s'%(file_table_name), index=False)

In [120]:
def add_shop(new_shop_df): # Th√™m shop m·ªõi v√†o file Shop.csv (new_shop_df ch·ªâ bao g·ªìm 'Shop name', 'Shop rating' v√† ƒë·∫∑t ƒë√∫ng th·ª© t·ª±)
    shop_df = pd.read_csv(r'..\Data\Preprocessed_data\Shop.csv')
    check_shop_list = new_shop_df.drop_duplicates(subset=new_shop_df.columns[0], keep='last', ignore_index=True)
    drop_index = []

    for index_shop in range(len(check_shop_list)):
        if check_shop_list.iloc[index_shop][0] in shop_df['ShopName'].values:
            drop_index.append(index_shop)

    check_shop_list.drop(drop_index, inplace=True)

    if len(shop_df) == 0:
        add_data('Shop.csv', check_shop_list, id_format='S000')
    else:
        add_data('Shop.csv', check_shop_list)

# Main

In [105]:
platform_df = pd.read_csv(r'..\Data\Preprocessed_data\Platform.csv')
platform_df

  PlatformID PlatformName
0       PL01         Tiki
1       PL02       Lazada
2       PL03       Shopee
3       PL04      Youtube
4       PL05       Tinhte

In [106]:
product_df = pd.read_csv(r'..\Data\Preprocessed_data\Product.csv')
product_df

  ProductID        ProductName    Brand
0      P001  iPhone 15 Pro Max   iPhone
1      P002   Galaxy S23 Ultra  Samsung

# Tiki

#### Product info

In [170]:
for p in product_df.to_dict(orient='records'):
    product_name = p['ProductName'].lower()

    tiki_product_info = pd.read_csv(r'..\Data\Tiki\%s_info.csv'%('_'.join(product_name.split(' '))))

    # Th√™m c·ªôt ID c·ªßa sp
    tiki_product_info['ProductID'] = p['ProductID']

    # Th√™m c·ªôt ID c·ªßa platform
    tiki_product_info['PlatformID'] = 'PL01'

    # L·∫•y nh·ªØng c·ªôt c·∫ßn thi·∫øt
    tiki_product_info = tiki_product_info[['ProductID', 'PlatformID', 'Name', 'Quantity', 'Reviews count', 'Star rating', 
                                        'Price', 'Crawl date', 'Shop name', 'Shop rating']]

    # Lo·∫°i b·ªè d·∫•u "." trong c·ªôt "Price" v√† ƒë·ªïi ƒë·ªãnh d·∫°ng th√†nh int
    tiki_product_info['Price'] = tiki_product_info['Price'].str.replace('.', '', regex=True).astype(int)

    # L·ªçc l·∫•y data c·ªßa ng√†y crawl m·ªõi nh·∫•t n·∫øu sp kh√¥ng c√≥ s·ª± thay ƒë·ªïi gi√°
    tiki_product_info.drop_duplicates(subset=['Name', 'Price'], keep='last', inplace=True, ignore_index=True)

    # Th√™m shop m·ªõi v√†o file Shop.csv n·∫øu c√≥
    shop_list = tiki_product_info[['Shop name', 'Shop rating']].copy()
    add_shop(shop_list)

    # Th√™m ID c·ªßa shop
    shop_df = pd.read_csv(r'..\Data\Preprocessed_data\Shop.csv')
    for shop_name in shop_df['ShopName']:
        tiki_product_info.loc[tiki_product_info['Shop name'] == shop_name, 'ShopID'] = shop_df[shop_df['ShopName']==shop_name]['ShopID'].values[0]

    add_df = tiki_product_info[['ProductID', 'PlatformID', 'ShopID', 'Price', 'Quantity', 'Reviews count', 'Star rating', 'Crawl date']]

    # L∆∞u v√†o file save Market.csv
    market_df = pd.read_csv(r'..\Data\Preprocessed_data\Market.csv')
    if len(market_df) == 0:
        add_data('Market.csv', add_df, 'MK000')
    else:
        add_data('Market.csv', add_df)

#### Reviews

In [21]:
tiki_reviews = pd.read_csv(r'..\Data\Tiki\%s_reviews.csv'%('_'.join(product_name.split(' '))))

In [22]:
tiki_reviews

,Reviewer name,Content,Rating,Rating date,Crawl date,Shop name
0,muasach,"22/9 ƒë√∫ng 00h l√™n topzone, TGDƒê, FPT Shop, ƒë·∫∑t...",C·ª±c k√¨ h√†i l√≤ng,ƒê√°nh gi√° v√†o 3 th√°ng tr∆∞·ªõc,2024-01-11,Tiki Trading
1,V≈© th·ªã h∆∞·ªùng,ƒêam m√™ t√°o k th·ªÉ b·ªè qua Iphone 15promax v√¨: \r...,C·ª±c k√¨ h√†i l√≤ng,ƒê√°nh gi√° v√†o 3 th√°ng tr∆∞·ªõc,2024-01-11,Tiki Trading
2,B·∫¢O NG√î,[Cu·ªôc g·ªçi l√∫c gi·ªØa ƒë√™m]‚Ä¶\r\n\r\nKh√¥ng ph·∫£i bon...,C·ª±c k√¨ h√†i l√≤ng,ƒê√°nh gi√° v√†o 3 th√°ng tr∆∞·ªõc,2024-01-11,Tiki Trading
3,NG√î QU·ªêC KH√ÅNH,Tiki giao l√∫c 1h s√°ng. √Åp m√£ 500K v√† gi·∫£m 2tr ...,C·ª±c k√¨ h√†i l√≤ng,ƒê√°nh gi√° v√†o 3 th√°ng tr∆∞·ªõc,2024-01-11,Tiki Trading
4,Hung Trieu,R·∫•t tin t∆∞·ªüng Tiki khi ƒë·∫∑t mua ƒëi·ªán tho·∫°i t·∫°i ...,C·ª±c k√¨ h√†i l√≤ng,ƒê√°nh gi√° v√†o 2 th√°ng tr∆∞·ªõc,2024-01-11,Tiki Trading
...,...,...,...,...,...,...
294,vu thang,Th·∫•y b·∫£o nh·∫≠n h√†ng ph·∫£i c√≥ m√£ otp m·ªõi nh·∫≠n ƒëc ...,R·∫•t kh√¥ng h√†i l√≤ng,ƒê√°nh gi√° v√†o 2 th√°ng tr∆∞·ªõc,2024-01-27,Tiki Trading
295,Vi·ªát D≈©ng ƒêo√†n,H√†ng ko cho ƒë·ªïi tr·∫£ khi ƒë·ªïi √Ω,R·∫•t kh√¥ng h√†i l√≤ng,ƒê√°nh gi√° v√†o 3 th√°ng tr∆∞·ªõc,2024-01-27,Tiki Trading
296,Thu Nga,Ch∆∞a th·∫•y ho√†n astra cho m√¨nh,Kh√¥ng h√†i l√≤ng,ƒê√°nh gi√° v√†o 3 th√°ng tr∆∞·ªõc,2024-01-27,Tiki Trading
297,Nguy·ªÖn Quang,NaN,H√†i l√≤ng,ƒê√°nh gi√° v√†o 2 th√°ng tr∆∞·ªõc,2024-01-27,Tiki Trading
298,Tr·∫ßn H√πng ƒê·∫°t,NaN,H√†i l√≤ng,ƒê√°nh gi√° v√†o 3 th√°ng tr∆∞·ªõc,2024-01-27,Tiki Trading

In [ ]:
# Bi·∫øn ƒë·ªïi c·ªôt 'Rating date' th√†nh ng√†y c·ª• th·ªÉ th√¥ng qua 'Crawl date'
actual_date_list = []

for num in range(len(tiki_reviews)):
    text_date = tiki_reviews.loc[num, ['Rating date', 'Crawl date']][0]
    crawl_date = tiki_reviews.loc[num, ['Rating date', 'Crawl date']][1]

    actual_date = extract_date_review(text_date, crawl_date)
    actual_date_list.append(actual_date)

tiki_reviews['Rating date'] = actual_date_list
tiki_reviews.drop(columns=['Crawl date'], inplace=True)

In [ ]:
# Bi·∫øn ƒë·ªïi c·ªôt "Rating" th√†nh thang ƒëo likert
rating_likert = {'R·∫•t kh√¥ng h√†i l√≤ng': 1, 'Kh√¥ng h√†i l√≤ng': 2, 'B√¨nh th∆∞·ªùng': 3, 'H√†i l√≤ng': 4, 'C·ª±c k√¨ h√†i l√≤ng': 5}

for num in range(len(tiki_reviews)):
    rating = tiki_reviews.loc[num, 'Rating']
    for k, v in rating_likert.items():
        if rating == k:
            tiki_reviews.loc[num, 'Rating'] = v

In [ ]:
# Lo·∫°i b·ªè nh·ªØng d√≤ng tr√πng "Reviewer name" v√† "Content"
tiki_reviews.drop_duplicates(subset=['Reviewer name', 'Content'], keep='last', inplace=True, ignore_index=True)

In [ ]:
tiki_reviews

,Reviewer name,Content,Rating,Rating date,Shop name
0,L√Ω Nguyen,üòÇ. Haha,5,2023-12-23,Tiki Trading
1,vu thang,Th·∫•y b·∫£o nh·∫≠n h√†ng ph·∫£i c√≥ m√£ otp m·ªõi nh·∫≠n ƒëc ...,1,2023-12-11,Tiki Trading
2,muasach,"22/9 ƒë√∫ng 00h l√™n topzone, TGDƒê, FPT Shop, ƒë·∫∑t...",5,2023-09-27,Tiki Trading
3,V≈© th·ªã h∆∞·ªùng,ƒêam m√™ t√°o k th·ªÉ b·ªè qua Iphone 15promax v√¨: \r...,5,2023-09-27,Tiki Trading
4,B·∫¢O NG√î,[Cu·ªôc g·ªçi l√∫c gi·ªØa ƒë√™m]‚Ä¶\r\n\r\nKh√¥ng ph·∫£i bon...,5,2023-09-27,Tiki Trading
...,...,...,...,...,...
96,vu thang,Th·∫•y b·∫£o nh·∫≠n h√†ng ph·∫£i c√≥ m√£ otp m·ªõi nh·∫≠n ƒëc ...,1,2023-11-27,Tiki Trading
97,Vi·ªát D≈©ng ƒêo√†n,H√†ng ko cho ƒë·ªïi tr·∫£ khi ƒë·ªïi √Ω,1,2023-10-27,Tiki Trading
98,Thu Nga,Ch∆∞a th·∫•y ho√†n astra cho m√¨nh,2,2023-10-27,Tiki Trading
99,Nguy·ªÖn Quang,NaN,4,2023-11-27,Tiki Trading
100,Tr·∫ßn H√πng ƒê·∫°t,NaN,4,2023-10-27,Tiki Trading

# Lazada

# Websites

#### Tinhte

In [ ]:
tinhte_content = pd.read_csv(r'..\Data\TinhTe\TinhTe_Iphone15pm_InfoPosts2.csv')

# Youtube