In [2]:
import pandas as pd
from datetime import datetime
import dateutil.relativedelta
# import pypyodbc as odbc

# Test database

In [3]:
# drive_name = 'SQL SERVER'
# server_name = 'DESKTOP-29355SM\SQLEXPRESS'
# database_name = 'Bank'

# connection_string = f"""
#     DRIVER={{{drive_name}}};
#     SERVER={server_name};
#     DATABASE={database_name};
#     Trust_Connection=yes;
# """

# conn = odbc.connect(connection_string)

In [4]:
# cursor = conn.cursor()

In [5]:
# cursor.execute("""
# Create table Persons (
#     PersonID int,
#     LastName varchar(255),
#     FirstName varchar(255),
#     Address varchar(255),
#     City varchar(255)
# )
# """)

In [6]:
# df = pd.read_sql('Select * from account', conn)

In [7]:
# conn.commit()

# Function

In [2]:
def extract_date_review(text_date, crawl_date): # Bi·∫øn ƒë·ªïi kho·∫£ng th·ªùi gian (1 th√°ng tr∆∞·ªõc, 2 ng√†y tr∆∞·ªõc) th·∫±nh ng√†y c·ª• th·ªÉ v√† tr·∫£ v·ªÅ datetime
    sub_text = text_date.split(' ')
    date_cmt = ''

    if 'nƒÉm' in text_date:
        for t in sub_text:
            if t.isnumeric():
                date_cmt = datetime.strptime(crawl_date, '%Y-%m-%d').date() - dateutil.relativedelta.relativedelta(years=int(t))
    elif 'th√°ng' in text_date:
        for t in sub_text:
            if t.isnumeric():
                date_cmt = datetime.strptime(crawl_date, '%Y-%m-%d').date() - dateutil.relativedelta.relativedelta(months=int(t))
    elif 'tu·∫ßn' in text_date:
        for t in sub_text:
            if t.isnumeric():
                date_cmt = datetime.strptime(crawl_date, '%Y-%m-%d').date() - dateutil.relativedelta.relativedelta(weeks==int(t))
    elif 'ng√†y' in text_date:
        for t in sub_text:
            if t.isnumeric():
                date_cmt = datetime.strptime(crawl_date, '%Y-%m-%d').date() - dateutil.relativedelta.relativedelta(days=int(t))
    else:
        date_cmt = datetime.strptime(crawl_date, '%Y-%m-%d').date()

    return date_cmt

In [65]:
def create_id(last_id): # T·∫°o ID m·ªõi v√† tr·∫£ v·ªÅ string
    last_id_list = []
    newest_id = ''

    for s in list(last_id):
        if s.isnumeric():
            last_id_list.append(s)
        else:
            newest_id += s
    
    last_id = str(int(''.join(last_id_list)) + 1)
    if len(last_id_list) != len(last_id):
        num_0 = len(last_id_list) - len(last_id)
        newest_id += '0'*num_0 + last_id
    else:
        newest_id += last_id
    
    return newest_id

In [142]:
def add_data(file_table_name, df, id_format=None): # Th√™m df v√†o file save (df kh√¥ng ch·ª©a c·ªôt ID v√† n·∫øu file tr·ªëng th√¨ c·∫ßn ƒë∆∞a ID format v√†o ƒë·ªÉ t·∫°o)
    table = pd.read_csv(r'..\Data\Preprocessed_data\%s'%(file_table_name))
    newest_id = ''
    if id_format != None:
        newest_id = create_id(id_format)
    else:
        newest_id = create_id(table.iloc[-1][0])

    list_id = []
    for i in range(len(df)):
        list_id.append(newest_id)
        newest_id = create_id(newest_id)
    df.insert(loc=0, column='ID', value=list_id)

    df.columns = table.columns
    table = pd.concat([table, df], ignore_index = True)
    table.to_csv(r'..\Data\Preprocessed_data\%s'%(file_table_name))

In [143]:
df = pd.DataFrame([[1, 2, 3, 4, 5, 6], [7, 8, 9, 10, 11, 12], [13, 14, 15, 16, 17, 18]])

add_data('EcomReviews.csv', df, id_format='ER00000000')

  EcomReviewID Review ProductID PlatformID DateReview ShopID StarRating
0   ER00000001      1         2          3          4      5          6
1   ER00000002      7         8          9         10     11         12
2   ER00000003     13        14         15         16     17         18

In [90]:
df = pd.DataFrame([[1, 2, 3, 4, 5, 6], [7, 8, 9, 10, 11, 12], [13, 14, 15, 16, 17, 18]])

for row in df.values:
    print(list(row))

[1, 2, 3, 4, 5, 6]
[7, 8, 9, 10, 11, 12]
[13, 14, 15, 16, 17, 18]

In [101]:
test = pd.read_csv(r'..\Data\Preprocessed_data\EcomReviews.csv')
test

Empty DataFrame
Columns: [EcomReviewID, Review, ProductID, PlatformID, DateReview, ShopID, StarRating]
Index: []

In [102]:
test.columns[0]

'EcomReviewID'

In [76]:
df = [2, 1, 3, 4, 5]
test.loc[len(test)] = list(platform.values[1]) + df
test

  EcomReviewID  Review  ProductID  PlatformID  DateReview  ShopID  StarRating
0         PL01    Tiki          2           1           3       4           5
1         PL01    Tiki          2           1           3       4           5
2         PL01    Tiki          2           1           3       4           5
3         PL02  Lazada          2           1           3       4           5

In [78]:
test.iloc[-1][0]

'PL02'

# Main

In [21]:
platform = pd.read_csv(r'..\Data\Preprocessed_data\Platform.csv')
platform

  PlatformID PlatformName
0       PL01         Tiki
1       PL02       Lazada
2       PL03       Shopee
3       PL04      Youtube
4       PL05       Tinhte

In [27]:
platform.values[0]

array(['PL01', 'Tiki'], dtype=object)

In [74]:
platform.values[0]

array(['PL01', 'Tiki'], dtype=object)

In [31]:
product = pd.read_csv(r'..\Data\Preprocessed_data\Product.csv')
product

  ProductID        ProductName    Brand
0      P001  iPhone 15 Pro Max   iPhone
1      P002   Galaxy S23 Ultra  Samsung

# Tiki

#### Product info

In [4]:
product_name = 'iPhone 15 Pro Max'.lower()

In [45]:
tiki_product_info = pd.read_csv(r'..\Data\Tiki\%s_info.csv'%('_'.join(product_name.split(' '))))

# L·∫•y nh·ªØng c·ªôt c·∫ßn thi·∫øt
tiki_product_info = tiki_product_info[['Name', 'Brand', 'Quantity', 'Reviews count', 'Star rating', 
                                       'Price', 'Crawl date', 'Shop name', 'Shop rating']]

# Lo·∫°i b·ªè d·∫•u "." trong c·ªôt "Price" v√† ƒë·ªïi ƒë·ªãnh d·∫°ng th√†nh int
tiki_product_info['Price'] = tiki_product_info['Price'].str.replace('.', '', regex=True).astype(int)

In [46]:
tiki_product_info

,Name,Brand,Quantity,Reviews count,Star rating,Price,Crawl date,Shop name,Shop rating
0,Apple iPhone 15 Pro Max,Apple,691,96,5.0,31990000,2024-01-11,Tiki Trading,4.7
1,Apple iPhone 15 Pro Max,Apple,726,100,5.0,31990000,2024-01-18,Tiki Trading,4.7
2,Apple iPhone 15 Pro Max,Apple,740,103,5.0,31990000,2024-01-27,Tiki Trading,4.7

In [ ]:
ecom_reviews = pd.read_csv

#### Reviews

In [6]:
tiki_reviews = pd.read_csv(r'..\Data\Tiki\%s_reviews.csv'%('_'.join(product_name.split(' '))))

In [7]:
from underthesea import classify

In [14]:
t = tiki_reviews.loc[1, 'Content']
t

'ƒêam m√™ t√°o k th·ªÉ b·ªè qua Iphone 15promax v√¨: \r\n- Ch·∫•t li·ªáu khung vi·ªÅn: Khung titan b·ªÅn b·ªâ  v√† sang tr·ªçng.\r\n- Thi·∫øt k·∫ø vi·ªÅn: M·ªèng nh·∫π - T·ª±a tr√†n vi·ªÅn . iPhone 15 Pro Max v·ªõi thi·∫øt k·∫ø vi·ªÅn m√†n h√¨nh m·ªèng nh·∫•t trong c√°c s·∫£n ph·∫©m iPhone ƒë√£ ra m·∫Øt. K·∫øt h·ª£p v·ªõi k√≠ch th∆∞·ªõc m√†n h√¨nh l·ªõn t·ªõi 6,7 inch, c·∫£i ti·∫øn n√†y mang t·ªõi c·∫£m gi√°c m√†n h√¨nh t·ª±a tr√†n vi·ªÅn, n√¢ng c·∫•p tr·∫£i nghi·ªám xem phim, ch∆°i game c·ªßa ng∆∞·ªùi d√πng, ƒë·ªìng th·ªùi gi√∫p di·ªán m·∫°o iPhone 15 Pro Max th√™m sang tr·ªçng v√† ƒë·∫≥ng c·∫•p.\r\n- iPhone 15 Pro Max nƒÉm nay c√°i ti·∫øn nh·∫•t ch√≠nh l√† thi·∫øt k·∫ø camera. Apple ƒë√£ m·∫°nh tay trang b·ªã ·ªëng k√≠nh ti·ªÅm v·ªçng zoom quang h·ªçc 5x, kh·∫£ nƒÉng quay video 4K, v√† c·∫£m bi·∫øn h√¨nh ·∫£nh s·ªëng ƒë·ªông.\r\n-  M√†n hinh iPhone 15 Pro Max c√≥ k√≠ch th∆∞·ªõc l·ªõn, s·ª≠ d·ª•ng c√¥ng ngh·ªá  Super Retina XDR c√πng ƒë·ªô ph√¢n gi·∫£i cao, mang t·ªõi ch·∫•t l∆∞·ª£ng h√¨nh ·∫£nh hi·ªÉn th·ªã s·∫Øc n√©t, ch√¢n th·ª±c v√† s·ªëng ƒë·ªông.\r\n- C·ªïng s·∫°c Lightning v·ªën l√† ƒë·∫∑c tr∆∞ng c·ªßa Apple ƒë√£ ƒë∆∞·ª£c thay th·∫ø b·∫±ng c·ªïng s·∫°c  USB-C tr√™n iPhone 15 Series\r\nN√≥i chung m√¨nh r·∫•t ∆∞ng lu√¥n, m√°y c·∫ßm ƒë·∫ßm tay v√† m√†u si√™u xinh\r\nV√† m√¨nh ch·ªçn TiKi ƒë·ªÉ mua chi·∫øc d·∫ø y√™u n√†y, mua l√∫c h∆°n 2h tr∆∞·ªõc 10h s√°ng nay ƒë√£ nh·∫≠n ƒë∆∞·ª£c h√†ng. \r\n- Tiki giao nhanh 2h \r\n- Nh√¢n vi√™n th√¢n thi·ªán\r\n- C√≥ Otp b√°o v·ªÅ khi ƒë∆°n h√†ng chu·∫©n b·ªã ƒë∆∞·ª£c giao, khi nh·∫≠n h√†ng ph·∫£i c√≥ OTP m·ªõi nh·∫≠n ƒëc n√™n r·∫•t y√™n t√¢m\r\n- H√†ng nguy√™n seal ch∆∞a k√≠ch ho·∫°t\r\n- Gi√° c≈©ng kh√° t·ªët: √°p m√£ gi·∫£m gi√° c·ªßa ng√¢n h√†ng k√®m v·ªõi voucher 500k ƒëƒÉng k√Ω s·ªõm \r\n\r\n#N·ª≠a_ƒë√™m_TikiGiaoiPhone15 Thu g·ªçn'

In [ ]:
tiki_reviews

,Reviewer name,Content,Rating,Rating date,Crawl date,Shop name
0,muasach,"22/9 ƒë√∫ng 00h l√™n topzone, TGDƒê, FPT Shop, ƒë·∫∑t...",C·ª±c k√¨ h√†i l√≤ng,ƒê√°nh gi√° v√†o 3 th√°ng tr∆∞·ªõc,2024-01-11,Tiki Trading
1,V≈© th·ªã h∆∞·ªùng,ƒêam m√™ t√°o k th·ªÉ b·ªè qua Iphone 15promax v√¨: \r...,C·ª±c k√¨ h√†i l√≤ng,ƒê√°nh gi√° v√†o 3 th√°ng tr∆∞·ªõc,2024-01-11,Tiki Trading
2,B·∫¢O NG√î,[Cu·ªôc g·ªçi l√∫c gi·ªØa ƒë√™m]‚Ä¶\r\n\r\nKh√¥ng ph·∫£i bon...,C·ª±c k√¨ h√†i l√≤ng,ƒê√°nh gi√° v√†o 3 th√°ng tr∆∞·ªõc,2024-01-11,Tiki Trading
3,NG√î QU·ªêC KH√ÅNH,Tiki giao l√∫c 1h s√°ng. √Åp m√£ 500K v√† gi·∫£m 2tr ...,C·ª±c k√¨ h√†i l√≤ng,ƒê√°nh gi√° v√†o 3 th√°ng tr∆∞·ªõc,2024-01-11,Tiki Trading
4,Hung Trieu,R·∫•t tin t∆∞·ªüng Tiki khi ƒë·∫∑t mua ƒëi·ªán tho·∫°i t·∫°i ...,C·ª±c k√¨ h√†i l√≤ng,ƒê√°nh gi√° v√†o 2 th√°ng tr∆∞·ªõc,2024-01-11,Tiki Trading
...,...,...,...,...,...,...
294,vu thang,Th·∫•y b·∫£o nh·∫≠n h√†ng ph·∫£i c√≥ m√£ otp m·ªõi nh·∫≠n ƒëc ...,R·∫•t kh√¥ng h√†i l√≤ng,ƒê√°nh gi√° v√†o 2 th√°ng tr∆∞·ªõc,2024-01-27,Tiki Trading
295,Vi·ªát D≈©ng ƒêo√†n,H√†ng ko cho ƒë·ªïi tr·∫£ khi ƒë·ªïi √Ω,R·∫•t kh√¥ng h√†i l√≤ng,ƒê√°nh gi√° v√†o 3 th√°ng tr∆∞·ªõc,2024-01-27,Tiki Trading
296,Thu Nga,Ch∆∞a th·∫•y ho√†n astra cho m√¨nh,Kh√¥ng h√†i l√≤ng,ƒê√°nh gi√° v√†o 3 th√°ng tr∆∞·ªõc,2024-01-27,Tiki Trading
297,Nguy·ªÖn Quang,NaN,H√†i l√≤ng,ƒê√°nh gi√° v√†o 2 th√°ng tr∆∞·ªõc,2024-01-27,Tiki Trading
298,Tr·∫ßn H√πng ƒê·∫°t,NaN,H√†i l√≤ng,ƒê√°nh gi√° v√†o 3 th√°ng tr∆∞·ªõc,2024-01-27,Tiki Trading

In [ ]:
# Bi·∫øn ƒë·ªïi c·ªôt 'Rating date' th√†nh ng√†y c·ª• th·ªÉ th√¥ng qua 'Crawl date'
actual_date_list = []

for num in range(len(tiki_reviews)):
    text_date = tiki_reviews.loc[num, ['Rating date', 'Crawl date']][0]
    crawl_date = tiki_reviews.loc[num, ['Rating date', 'Crawl date']][1]

    actual_date = extract_date_review(text_date, crawl_date)
    actual_date_list.append(actual_date)

tiki_reviews['Rating date'] = actual_date_list
tiki_reviews.drop(columns=['Crawl date'], inplace=True)

In [ ]:
# Bi·∫øn ƒë·ªïi c·ªôt "Rating" th√†nh thang ƒëo likert
rating_likert = {'R·∫•t kh√¥ng h√†i l√≤ng': 1, 'Kh√¥ng h√†i l√≤ng': 2, 'B√¨nh th∆∞·ªùng': 3, 'H√†i l√≤ng': 4, 'C·ª±c k√¨ h√†i l√≤ng': 5}

for num in range(len(tiki_reviews)):
    rating = tiki_reviews.loc[num, 'Rating']
    for k, v in rating_likert.items():
        if rating == k:
            tiki_reviews.loc[num, 'Rating'] = v

In [ ]:
# Lo·∫°i b·ªè nh·ªØng d√≤ng tr√πng "Reviewer name" v√† "Content"
tiki_reviews.drop_duplicates(subset=['Reviewer name', 'Content'], keep='last', inplace=True, ignore_index=True)

In [ ]:
tiki_reviews

,Reviewer name,Content,Rating,Rating date,Shop name
0,L√Ω Nguyen,üòÇ. Haha,5,2023-12-23,Tiki Trading
1,vu thang,Th·∫•y b·∫£o nh·∫≠n h√†ng ph·∫£i c√≥ m√£ otp m·ªõi nh·∫≠n ƒëc ...,1,2023-12-11,Tiki Trading
2,muasach,"22/9 ƒë√∫ng 00h l√™n topzone, TGDƒê, FPT Shop, ƒë·∫∑t...",5,2023-09-27,Tiki Trading
3,V≈© th·ªã h∆∞·ªùng,ƒêam m√™ t√°o k th·ªÉ b·ªè qua Iphone 15promax v√¨: \r...,5,2023-09-27,Tiki Trading
4,B·∫¢O NG√î,[Cu·ªôc g·ªçi l√∫c gi·ªØa ƒë√™m]‚Ä¶\r\n\r\nKh√¥ng ph·∫£i bon...,5,2023-09-27,Tiki Trading
...,...,...,...,...,...
96,vu thang,Th·∫•y b·∫£o nh·∫≠n h√†ng ph·∫£i c√≥ m√£ otp m·ªõi nh·∫≠n ƒëc ...,1,2023-11-27,Tiki Trading
97,Vi·ªát D≈©ng ƒêo√†n,H√†ng ko cho ƒë·ªïi tr·∫£ khi ƒë·ªïi √Ω,1,2023-10-27,Tiki Trading
98,Thu Nga,Ch∆∞a th·∫•y ho√†n astra cho m√¨nh,2,2023-10-27,Tiki Trading
99,Nguy·ªÖn Quang,NaN,4,2023-11-27,Tiki Trading
100,Tr·∫ßn H√πng ƒê·∫°t,NaN,4,2023-10-27,Tiki Trading

# Lazada

# Websites

#### Tinhte

In [ ]:
tinhte_content = pd.read_csv(r'..\Data\TinhTe\TinhTe_Iphone15pm_InfoPosts2.csv')

# Youtube